*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.sky,.earth {
  position: absolute;
  left: 0;
  height: 50vh;
  width: 100%;
}

.earth {
  background: #eb125d
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_earth.jpg")
    repeat-x 0 0 / 100% auto;
  width: 100%;
  bottom: 0;
}

.sky {
  background: #246e89
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_sky.jpg") repeat-x
    100% 100% / auto 100%;
  top: 0;
}

.alice {
  position: absolute;
  top: 0;
  left: 40%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 80%;
  max-width: 450px; /*height: 783px / 2*/
  z-index: 1;
}

.alice:before {
  content: " ";
  display: block;
  padding-top: 87%;
}

.alice img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scenery {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#foreground {
  z-index: 1;
}
#foreground,
.background2 {
  transform: translateX(100%);
}

#treefore {
  top: 0;
  left: 10%;
}

#pawn {
  top: 5%;
  left: 30%;
}

.foreground2,
.background2 {
  transform: translateX(100%);
}

.pawn {
  top: -20%;
  left: 15%;
}

.pawn2 {
  top: -10%;
  left: 80%;
}

.treeback {
  top: -25%;
  left: 40%;
}

html,
body {
  width: 100%;
  height: 100%;
}


* {
  user-select: none;
}
#w_rook_upright {
  top: 30%;
  left: 75%;
}